.contact {
  background-color: #faf8ef;
  padding: 3.5rem 0;
}

.contact__details-container {
  display: flex;
  justify-content: center;
  padding-top: 3.5rem;
}

/* form styles */
.contact__form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.contact__form legend {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 1rem;
}

.contact__form input,
.contact__form textarea {
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  border: 1px solid #b1b4b6;
  margin-bottom: 0.5rem;
}

.contact__form input::placeholder,
.contact__form textarea::placeholder {
  color: #868a8d;
}

.contact__form textarea {
  height: 155px;
}

.contact__form button {
  font-size: 1.2rem;
  background-color: #f0172d;
  margin-top: 1rem;
  color: #ffffff;
  letter-spacing: 1px;
  text-shadow: 1px 1px #333;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
  align-self: center;
}

.contact__form button:hover {
  background-color: #ca2333;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

@media (max-width: 990px) {
  .contact__form {
    width: 100%;
  }
}
