footer {
  padding: 2rem;
  font-size: 1.15rem;
  text-align: end;
  font-weight: bold;
}

footer span a {
  text-decoration: none;
}

@media (max-width: 990px) {
  footer {
    text-align: center;
  }
}
