/* Alter highlighted text */
::selection {
  background-color: #dc3545;
  color: #fff;
}

::-moz-selection {
  background-color: #dc3545;
  color: #fff;
}

::webkit-selection {
  background-color: #dc3545;
  color: #fff;
}

:root {
  scroll-behavior: smooth;
}

body {
  background: #f0efe9;
  color: #333333;
}

.container {
  display: flex;
}

.content {
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
  margin-left: 260px;
}

.page-wrapper {
  width: 80%;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-text {
  color: #f0172d;
}

.bolded {
  font-weight: bold;
}

.underline {
  display: block;
  margin: 5px auto;
  background-color: #f0172d;
  width: 100px;
  height: 3px;
}

.title-container {
  display: flex;
  align-items: center;
}

.title-container > h2 {
  font-size: 2.25rem;
  padding: 0 3rem;
  margin: 0;
}

.bars {
  width: 100%;
  height: 5px;
  border-top: 1px solid #cecec7;
  border-bottom: 1px solid #cecec7;
}

button {
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0.8rem 2.6rem;
  border-radius: 50rem;
}

@media (max-width: 1440px) {
  .page-wrapper {
    width: 90%;
  }
}

@media (max-width: 990px) {
  .content {
    height: 100%;
    overflow-y: auto;
    margin-left: 0px;
    margin-top: 60px;
  }
}
