.projects {
  padding: 4rem 0;
}

.projects__container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 3rem;
}

/* single project */
.project {
  width: 45%;
  flex-grow: 1;
  overflow: hidden;
  border-radius: 5px;
}

.project__img-container {
  position: relative;
}

.project__img-container:hover img {
  filter: blur(3px);
  transition: all 0.3s ease-in-out;
}

.project__img-container img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: 0px 0%;
  height: 230px;
}

.project__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}

.project__overlay-hover {
  text-align: center;
  padding: 0.8rem;
}

.project__overlay-hover .underline {
  display: none;
}

.project__title,
.project__tech,
.project__links {
  display: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.15rem;
}

.project__title {
  font-size: 1.75rem;
  margin: 0.5rem auto;
}

.project__links a {
  text-decoration: none;
  padding: 0 0.5rem;
  color: #fff;
  font-size: 1.35rem;
}

.project__overlay:hover {
  background: rgba(0, 0, 0, 0.7);
}

.project__links a:hover {
  color: #dc3545;
}

.project__overlay:hover .project__title,
.project__overlay:hover .project__tech,
.project__overlay:hover .project__links,
.project__overlay:hover .project__overlay-hover .underline {
  display: block;
}

@media (max-width: 600px) {
  .project {
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
  }
}
